html {
    background: url('../i/backdrop.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Droid Sans', sans-serif;
    margin: 2em;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color: #c0392b;
}

div {
    margin: 1em;
}

#link-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15pt;
    padding: 0.25em;
    width: 100pt;
}
