html {
    background: url('../i/grass.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Roboto, sans-serif;
    margin: 2em;
    text-align: center;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
}

div {
    margin: 1em;
}

#link-container {
    background-color: #fafafa; /*rgba(25, 31, 71, 0.8);*/
    border-radius: 12pt;
    padding: .75em;
    margin: 0 auto;
    max-width: 200pt;
    display: inline-block;
    font-size: 12pt;
    text-align: left;
    line-height: 1.3em;
}
