html {
    background: url('../i/grass.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    text-align: center;
}

i {
    padding: 5pt;
}
a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
}

#container {
    background-color: rgba(250, 250, 250, 0.8);
    width: 180px;
    height: 100%;
    margin: 0;
    padding: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    color: #2c3e50;
    text-align: center;
    font-size: 18pt;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#link-container {
    width: 100%;
    text-align: left;
}

.link-row {
    display: flex;
    margin: 0.1em;
    align-items: center;
}

.link-symbol {
    width: 36pt
}

@media (max-width: 1024px) {
    #container {
        flex-direction: column;
    }

    #link-container {
        text-align: center;
    }

    #name-container {
        text-align: center;
    }

}
