html {
    background: url('../i/grass.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    text-align: center;
}

i {
    padding: 5pt;
}
a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
}

#container {
    background-color: rgba(250, 250, 250, 0.8);
    width: 100%;
    margin: 0;
    text-align: center;
    position: fixed;
    bottom: 0pt;
    display: flex;
    align-items: center;
    color: #2c3e50;
}

#link-container {
    width: 100%;
    text-align: right;
    font-size: 18pt;
    margin-right: 9pt;
}

#name-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100%;
    font-size: 18pt;
    text-align: left;
}
