body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: black;
    font-size: 9pt;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F44336;
    text-decoration: none;
}

#listing {
    max-width: 500pt;
    margin: 0 auto;
    top: 30pt;
    position: relative;
    padding-bottom: 12px;
}

#listing .bullet {
    font-size: 6pt;
    text-align: center;
    vertical-align: middle;
}

#listing .job-entry {
    margin-bottom: 5pt;
    padding: 1pt;
}

.flag-icon {
    font-size: 8pt;
}

#timeline .selected {
    fill: #F44336
}

#timeline .highlight {
    fill: #4CAF50
}

#listing .job-entry .job-title {
    margin-bottom: 1pt;
    font-size: 9pt;
    font-weight: 600;
}

#listing .job-entry .job-desc-line {
    line-height: 12pt;
}

#listing .job-entry .job-desc .job-tech {
    font-style: italic;
    padding-left: 10pt;
}


#job-title {
    margin-top: 5pt;
    margin-bottom: 5pt;
    font-size: 10pt;
    font-weight: 600;
}

#academic-title {
    margin-top: 5pt;
    font-size: 10pt;
}

#degree-title {
    margin-top: 5pt;
    margin-bottom: 1pt;
    font-size: 10pt;
    font-weight: 600;
}

#timeline-container {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 0px solid black;
    height: 100%;
    width: 100pt;
}

#timeline {
    position: relative;
    right: 0pt;
    top: 0px;
    height: 100%;
    width: 100%;
}

@media (max-width: 700px) {
  #timeline {
    display: none;
  }
}

#timeline-labels g.tick text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    fill: black;
}

#timeline-labels path, #timeline-labels g.tick line {
    stroke: black;
}

.timeline-edu {
    fill: black;
    stroke: white;
}

.timeline-job {
    fill: black;
    stroke: white;
}

#bar {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    margin: 0;
    text-align: center;
    position: fixed;
    top: 0pt;
    display: flex;
    align-items: center;
}

#link-container {
    width: 100%;
    text-align: right;
    font-size: 10pt;
    margin-right: 9pt;
    flex: 2;
}

#name-container {
    width: 100%;
    font-size: 14pt;
    text-align: left;
    line-height: 24pt;
    flex: 1;
}
