body {
    font-family: Roboto, Arial, sans-serif;
    color: black;
    font-size: 14px;
    margin: 0px;
}

#bar a {
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
}

#bar a:hover {
    color: #59b961;
    /* color: #F44336; */
    padding-bottom: 2px;
}

a {
    color: black;
}

a:hover {
    /* color: #F44336; */
    color: #59b961;
    text-decoration: none;
}

#summary {
    max-width: 550px;
}

@media (max-width: 588px) {
  #bar-content {
      padding-left: 8px;
  }
}

#bar {
    background-color: #000;
    z-index: 999;
    width: 100%;
    padding-left: 8px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
}

#bar-content {
    max-width: 375px;
    background: black;
    display: flex;
    align-items: center;
}

#link-container {
    padding: 0.3em;
    background-color: #000;
    color: #fff;
    text-align: left;
    font-size: 13px;
}

#name-container {
    padding: 0.3em;
    background-color: #000;
    font-size: 24px;
    text-align: left;
    line-height: 32px;
    font-weight: 400;
}

#credits {
    text-align: center;
    position: relative;
    top: 50px;
    padding-bottom: 20px;
}

#listing {
    max-width: 375px;
    margin: 0.5em;
    top: 40px;
    position: relative;
    border: 1px solid blue;
}

#listing .job-entry {
    margin-bottom: 1em;
}

#tech {
    width: 100%;
    display: flex;
}

#tech #tech-lang {
    display: flex;
}

#tech #tech-lang .tech-exp {
    padding-left: 3px;
    padding-right: 15px;
}

#tech #tech-devops .tech-exp {
    padding-left: 3px;
    padding-right: 15px;
}

#tech #tech-devops {
    display: flex;
}

#tech #tech-other .tech-exp {
    padding-left: 3px;
    padding-right: 3px;
}

#tech .tech-exp {
    font-size: 14px;
}

#tech #tech-other {
    display: flex;
}

#tech .tech-skill div {
    padding-right: 10px;
}

#tech span.tech {
    font-size: 14px;
}

.flag-icon {
    font-size: 12px;
}

#timeline .selected {
    fill: #F44336
}

#timeline .highlight {
    fill: #4CAF50
}

#listing .job-entry .job-title {
    font-size: 12px;
    display: flex;
}

#listing .job-entry .job-title .job-duration {
    flex: 1;
}

#listing .job-entry .job-title .job-title-name {
    font-size: 16px;
    font-weight: 500;
    flex: 2;
}

#listing .job-entry .job-duration {
    font-size: 12px;
    text-align: right;
    font-weight: 400;
}

#listing .job-entry .job-desc {
    /* display: none; */
    margin-top: 4px;
}

#listing .job-entry-separator {
    font-size: 24;
    font-weight: 600;
    text-align: center;
    margin: 1em;
}

#listing .job-desc-line-separator {
    font-size: 16;
    font-weight: 400;
    text-align: center;
    margin: 0.2em;
}

.selected {
    color: #59b961;
    /* color: #F44336; */
}

#listing .job-entry .job-desc .job-tech {
    padding-top: 3px;
    padding-left: 24px;
}

#tech-explanation {
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
}

#tech-title {
    page-break-before: always;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

.tech {
    font-size: 12px;
}

img.tech-logo {
    height: 12px;
    padding-right: 4px;
    /* vertical-align: middle; */
    display: inline;
}

#job-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

#academic-title {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 12px;
}

#degree-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

#timeline-container {
    position: fixed;
    right: 0px;
    top: 0px;
    border: 0px solid black;
    height: 100%;
    width: 150px;
}

#timeline {
    display: none;
    position: relative;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

@media (max-width: 690px) {
  #timeline {
    display: none;
  }
}

#timeline-labels g.tick text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    fill: black;
}

#timeline-labels path, #timeline-labels g.tick line {
    stroke: black;
}

.timeline-edu {
    fill: black;
    stroke: white;
}

.timeline-job {
    fill: black;
    stroke: white;
}
