body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: black;
    font-size: 14px;
    padding: 8px;
    margin: 0px;
}

#bar a {
    color: black;
    text-decoration: none;
    padding-bottom: 2px;
}

#bar a:hover {
    color: #F44336;
    padding-bottom: 2px;
}

a {
    color: black;
}

a:hover {
    color: #F44336;
    text-decoration: none;
}

#summary {
    max-width: 550px;
}

@media (max-width: 588px) {
  #bar-content {
      padding-left: 8px;
  }
}

#bar {
    z-index: 999;
    width: 100%;
    padding-left: 8px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
}

#bar-content {
    width: 580px;
    background: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#link-container {
    background-color: #fff;
    width: 100%;
    text-align: right;
    font-size: 17px;
    margin-right: 10px;
    flex: 2;
}

#name-container {
    background-color: #fff;
    width: 100%;
    font-size: 21px;
    text-align: left;
    line-height: 32px;
    font-weight: 600;
    flex: 1;
}

#credits {
    text-align: center;
    position: relative;
    top: 50px;
    padding-bottom: 20px;
}

#listing {
    width: 580px;
    margin: 0 auto;
    top: 32px;
    position: relative;
    padding-bottom: 12px;
}

#listing .job-entry {
    margin-bottom: 3px;
    padding: 1px;
    max-width: 540px;
}

#tech {
    width: 100%;
    display: flex;
}

#tech #tech-lang {
    display: flex;
}

#tech #tech-lang .tech-exp {
    padding-left: 3px;
    padding-right: 15px;
}

#tech #tech-devops .tech-exp {
    padding-left: 3px;
    padding-right: 15px;
}

#tech #tech-devops {
    display: flex;
}

#tech #tech-other .tech-exp {
    padding-left: 3px;
    padding-right: 3px;
}

#tech .tech-exp {
    font-size: 14px;
}

#tech #tech-other {
    display: flex;
}

#tech .tech-skill div {
    padding-right: 10px;
}

#tech span.tech {
    font-size: 14px;
}

.flag-icon {
    font-size: 11px;
}

#timeline .selected {
    fill: #F44336
}

#timeline .highlight {
    fill: #4CAF50
}

#listing .job-entry .job-title {
    margin-bottom: 3px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
}

#listing .job-entry .job-desc {
    margin-top: 4px;
}

.selected {
    color: #F44336;
}

#listing .job-entry .job-desc .job-tech {
    padding-top: 3px;
    padding-left: 24px;
}

#tech-explanation {
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
}

#tech-title {
    page-break-before: always;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.tech {
    font-size: 12px;
}

img.tech-logo {
    height: 12px;
    padding: 1px;
    padding-bottom: 4px;
    vertical-align: middle;
    display: inline;
}

#job-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

#academic-title {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 12px;
}

#degree-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

#timeline-container {
    position: fixed;
    right: 0px;
    top: 0px;
    border: 0px solid black;
    height: 100%;
    width: 150px;
}

#timeline {
    position: relative;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

@media (max-width: 690px) {
  #timeline {
    display: none;
  }
}

#timeline-labels g.tick text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    fill: black;
}

#timeline-labels path, #timeline-labels g.tick line {
    stroke: black;
}

.timeline-edu {
    fill: black;
    stroke: white;
}

.timeline-job {
    fill: black;
    stroke: white;
}
